<div class="spacer20"></div>
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-10">
        <h1>{{"forms.citas" | translate}}</h1>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary pull-right" routerLink="/crear-cita">
          {{"forms.new" | translate}}
        </button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{"forms.fecha_cita" | translate}}</th>
        <th scope="col">{{"forms.costo_cita" | translate}}</th>
        <th scope="col">{{"forms.nombre_persona" | translate}}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td>{{ cita.fechaCita | date }}</td>
        <td>{{ cita.costoCita|currency:'CAD':'symbol-narrow' }}</td>
        <td>{{ cita.persona.nombre }}</td>
        <td>
          <button class="btn btn-danger" (click)="confirmDelete(cita.id)">{{"forms.delete" | translate}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>